@model Azarroide.Domain.Entities.EmpresaEntitie

<div>
    <h4>EmpresaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.situacao)
        </dd>
    </dl>
</div>
<div>
    <form method="post" action="@Url.Action("Index", "Home")">
        <input type="hidden" name="cnpj" value="@Model.cnpj" />
        <button type="submit" class="btn btn-success">Home</button>
    </form>
</div>
